easyocr==1.7.1
ensure==1.0.4
Flask==2.2.2
Flask_Cors==4.0.0
gdown==5.1.0
numpy==1.24.3
Pillow==9.4.0
Pillow==10.3.0
python_box==7.1.1
PyYAML==6.0
PyYAML==6.0.1
setuptools==67.8.0
ultralytics==8.0.142
